﻿@model sntbr.front.Models.Home.Partials.ArticlePartial
<article>
	<h2>@Model.Title</h2>
	<div class="story">
		@Html.Raw(Model.Story)
	</div>
	@*<div class="info">
			<span>опубликовано: @article.PublishedAt, создано: @article.CreatedAt, изменено: @article.ChangedAt</span>
		</div>*@
</article>

