﻿html {
  background: url('/content/img/asp-bg.jpg');
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  min-width: 873px;
  position: relative;
}
main {
  padding: 20px;
  min-width: 800px;
}
main > section > article,
main > section > form {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 20px;
  margin: 10px 300px 10px 10px;
  overflow: hidden;
}
main > section > article:after,
main > section > form:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
main > section > article div.field-group label,
main > section > form div.field-group label {
  text-align: right;
  width: 250px;
  padding: 5px;
  display: inline-block;
}
main > section > article div.field-group span.field-validation-error,
main > section > form div.field-group span.field-validation-error {
  color: #a52a2a;
  font-size: 0.8em;
  font-weight: bold;
}
main > section > article div.button-group,
main > section > form div.button-group {
  width: 400px;
  text-align: right;
  padding: 10px;
}
main > section > article div.story,
main > section > form div.story {
  overflow: hidden;
}
main > section > article div.story:after,
main > section > form div.story:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
main > section > article div.site,
main > section > form div.site {
  display: inline-block;
  float: left;
  border-radius: 5px;
  background-color: #ccc;
  border: 1px solid #666;
  margin: 5px;
  padding: 5px;
  width: 100px;
  height: 2.2em;
}
main > section > article div.site > a,
main > section > form div.site > a {
  display: block;
  width: 100%;
  text-align: center;
  color: #000;
  font-weight: bold;
}
main > section > article div.site > span,
main > section > form div.site > span {
  font-size: 0.8em;
}
main > section > article div.site button,
main > section > form div.site button {
  width: 100%;
  height: 2em;
  border-radius: 5px;
}
main > section > article div.site button.add,
main > section > form div.site button.add {
  background-color: #ccc;
}
main > section > article div.site button.remove,
main > section > form div.site button.remove {
  background-color: #999;
  font-weight: bold;
}
main > aside {
  margin-top: 10px;
}
main > aside > div {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 20px;
  float: right;
  width: 238px;
  margin: 0 10px 10px 10px;
  clear: right;
}
main > aside > div > form {
  display: inline-block;
  padding: 2px;
}
h2 {
  font: 22px "Poiret One", cursive;
  padding: 0;
  margin: 0;
  display: inline;
  border-bottom: solid 1px grey;
}
h2:before,
h2:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
p {
  font-family: 'Exo 2', sans-serif;
}
header {
  background-color: #eee;
  padding: 3px 5px 5px 10px;
  position: fixed;
  border: 1px solid #666;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  min-width: 100%;
  height: 2em;
  box-sizing: border-box;
}
header > nav {
  display: inline-block;
  padding: 3px;
  margin-left: 20px;
}
header > nav > a {
  padding: 5px;
  color: #000;
}
main > nav {
  background-color: #eee;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
  margin: 0 0 10px 10px;
}
main > nav > a {
  padding: 5px;
  color: #000;
}
main > section > article.grey {
  color: #999;
}
main > section > article > nav {
  display: inline-block;
  float: right;
}
main > section > article > nav a {
  padding: 5px;
  color: #000;
}
main > section > article > div.info {
  float: right;
  color: #666;
}
main > section > article > div.info > span {
  font-size: 0.8em;
}