html {
	background: #e5ffde url(/content/img/login-bg.jpg) repeat-x;
	margin: 0;
	padding: 0;
}

body {
	background: url('/content/img/vorota.png') no-repeat scroll 0% 0% transparent;
	margin: -208px -361px 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 722px;
	height: 416px;
}

.parent {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

	.parent p {
		font: bold 32pt arial;
		color: rgb(133, 70, 70);
		position: absolute;
		top: 14px;
		left: 442px;
		-o-transform: rotate(-3deg);
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}

.buttons {
	position: absolute;
	top: 133px;
	left: 431px;
	-o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

	.buttons input[type=image] {
		padding: 7px;
		background: white;
		display: inline-block;
		margin: 5px;
		border: solid 1px rgb(202, 202, 202);
	}

form {
	display: inline-block;
}
