﻿body {
  background-color: #96d38d;
  color: #0a4600;
  font-family: 'Open Sans', sans-serif;
  padding-top: 2.5em;
  min-width: 800px;
}
header {
  background-color: #3c8d2f;
  padding: 3px 5px 5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  min-width: 800px;
  height: 2.5em;
  box-sizing: border-box;
}
header h1 {
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
}
main {
  min-width: 800px;
  width: 1050px;
}
main section {
  margin: 10px;
  padding: 0;
  width: 790px;
}
main section.bordered {
  border: 1px solid #0a4600;
  border-radius: 5px;
}
main section.bordered > div.title {
  width: 100%;
  height: 2em;
  border-bottom: 1px solid #0a4600;
  border-collapse: collapse;
  background-color: #1e6912;
  background: linear-gradient(#3c8d2f, #1e6912);
}
main section.bordered > div.title span,
main section.bordered > div.title a {
  color: #96d38d;
  display: inline-block;
  height: 100%;
  line-height: 1.6em;
}
main section.bordered > div.title span {
  font-size: 1.2em;
  padding-left: 5px;
}
main section.bordered > div.title a {
  float: right;
  padding-right: 5px;
}
main section.bordered article {
  margin: 1px;
}
main section.bordered article > div {
  width: 100%;
  box-sizing: border-box;
}
main section.bordered article > div.title {
  border-bottom: 1px solid #0a4600;
  background-color: #64b058;
  margin: 0;
}
main section.bordered article > div.title span {
  font-size: 1.1em;
  padding-left: 5px;
}
main section.bordered article > div.title a {
  float: right;
  padding-right: 10px;
  color: #0a4600;
}
main section.bordered article > div.story {
  margin-left: 10px;
}
main section.bordered article > div.story hr {
  width: 90%;
  border-color: #0a4600;
}
main section.bordered article > div.info {
  text-align: right;
}
main section.bordered article > div.info span {
  font-size: 0.6em;
  color: #3c8d2f;
  margin-right: 10px;
}
main section div.field-group {
  padding: 5px 0px;
}
main section div.field-group label {
  display: block;
  font-size: 1.1em;
}
main section div.field-group input {
  width: 100%;
}
main section div.field-group input[type='checkbox'] {
  width: 1em;
  height: 1em;
}
main section div.button-group {
  width: 100%;
  margin: 10px;
}
main section div.button-group * {
  width: 8em;
  height: 2.5em;
  margin: 0 5px;
}
main section div.button-group button {
  border-radius: 3px;
  background-color: #0a4600;
  border-color: #1e6912;
  color: #96d38d;
  font-weight: bold;
}
main section div.button-group a {
  color: #0a4600;
}
aside {
  float: right;
  /*div {
		padding:5px 5px 0 5px;
	}*/
}
