﻿@model sntbr.front.Models.Files.Pages.IndexPage
@{
	Layout = "~/Views/Shared/_LayoutBack.cshtml";
}
<nav>
	<label>файлы:</label>
	@Html.ActionLink("добавить", "upload")
</nav>
<section>
	<article>
		@foreach (var file in Model.Files)
		{
			<div>
				<a href="@file.Url" title="@file.Description">@file.Title</a>
				<span>url: @file.Url</span>
			</div>
		}
	</article>

</section>
