﻿@model sntbr.front.Models.Files.Pages.UploadPage
@{
	Layout = "~/Views/Shared/_LayoutBack.cshtml";
}
<section>
	<form method="post" enctype="multipart/form-data">
		<h2>Загрузить файл</h2>
		<div class="field-group">
			<label>файлик:</label>
			<input type="file" name="upload" />
		</div>
		<div class="field-group">
			<label for="title">название:</label>
			<input type="text" id="title" name="title" value="@Model.FileDescription.Title" />
		</div>
		<div class="field-group">
			<label for="description">описание:</label>
			<textarea id="description" name="description">@Model.FileDescription.Description</textarea>
		</div>
		<div class="button-group">
			<button type="submit">сохранить</button>
			@Html.ActionLink("отменить", "index")
		</div>
	</form>

</section>
