﻿@model sntbr.front.Models.Profile.Pages.IndexPage
@{
	Layout = "~/Views/Shared/_LayoutFront.cshtml";
}
<section>
	<article>
		<h2>Ваш профиль садовода</h2>
		<p>
			<div class="field-group">
				<label>@Html.ActionLink("Полное имя", "edit", null, new { title = "изменить" }):</label>
				<span>@Model.FullName</span>
			</div>
			<div class="field-group">
				<label>@Html.ActionLink("Эл.почта", "edit", null, new { title = "изменить" }):</label>
				<span>@Model.Email</span>
			</div>
			<div class="field-group">
				<label>@Html.ActionLink("Номер участка", "site", null, new { title = "изменить" }):</label>
				<span>@Model.SitesInfo</span>
			</div>
			<div class="field-group">
				<label>Роли на сайте:</label>
				<span>@Model.RolesInfo</span>
			</div>
		</p>
	</article>
</section>
