﻿@model sntbr.front.Models.Profile.Pages.SitePage
@{
	Layout = "~/Views/Shared/_LayoutFront.cshtml";
}
<section>
	<article>
		<h2>Какой участок Ваш?</h2>
		@foreach (var site in Model.Sites)
		{
			<div class="site">
				<form method="post">
					<input type="hidden" name="action" value="@site.Action" />
					<input type="hidden" name="site" value="@site.SiteId" />
					<button type="submit" class="@site.Action" title="@site.ActionTitle">@site.SiteNumber</button>
				</form>
			</div>
		}
	</article>

</section>

