﻿@model sntbr.front.Models.Home.Pages.IndexPage
@{
	Layout = "~/Views/Shared/_LayoutFront.cshtml";
}
<section>
	@*<div class="title">
		<span>новости</span>
	</div>*@
	@foreach (var article in Model.Articles)
	{
		Html.RenderPartial("~/Views/Home/Partials/Article.cshtml", article);
	}
</section>