﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Управление сайтом</title>
	@Styles.Render("~/Content/site")
</head>
<body>
	<header>
		<h1>СНТ БЕРЕЗОВАЯ РОЩА</h1>
		@*<nav>
			<a href="#">объявы</a>
			<a href="#">компромат</a>
			<a href="#">олесин уголок</a>
		</nav>*@
	</header>
	<main>
		<aside>
			
		</aside>
		@RenderBody()
	</main>
	<footer>

	</footer>

	@RenderSection("scripts", required: false)
</body>
</html>
