﻿@model sntbr.front.Models.PageBaseViewModel
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="@Model.Description">
	<title>@Model.Title</title>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One|Exo+2&subset=cyrillic' rel='stylesheet' type='text/css'>
	@Styles.Render("~/Content/back")
</head>
<body>
	<header>
		<nav>
			@Html.ActionLink("[сайт]", "index", "home")
			@Html.ActionLink("объявления", "index", "manage")
			@Html.ActionLink("пользователи", "users", "account")
			@Html.ActionLink("участки", "index", "housing")
		</nav>
	</header>
	<main>
		<aside>
			@foreach (sntbr.front.Models.IWidgetViewModel widget in Model.Widgets)
			{
				<div>
					@{ Html.RenderPartial(widget.PartialView, widget); }
				</div>
			}
		</aside>
		@RenderBody()
	</main>
	<footer></footer>
	
	@RenderSection("scripts", required: false)
</body>
</html>
