﻿@model sntbr.front.Models.PageBaseViewModel
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="@Model.Description">
	<title>@Model.Title</title>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One|Exo+2&subset=cyrillic' rel='stylesheet' type='text/css'>
	@Styles.Render("~/Content/front")

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-53174823-1', 'auto');
		ga('send', 'pageview');

	</script>
</head>
<body>
	<header>
		<p class="logo">СНТ Березовая роща</p>
		<nav class="left">
			@Html.ActionLink("новости", "index", "home")
			@if (User.Identity.IsAuthenticated)
			{ 
				@Html.ActionLink("профиль", "index", "profile")
			}
		</nav>
		<nav class="right">
			<a href="https://www.facebook.com/pages/СНТ-Берёзовая-Роща/1513623172190101" target="_blank">facebook</a>
			@if (User.IsInRole(sntbr.front.Models.Common.SntbrRoles.Administrator))
			{
				@Html.ActionLink("админка", "index", "manage")
			}
		</nav>
	</header>
	<main>
		<aside>
			@foreach (sntbr.front.Models.IWidgetViewModel widget in Model.Widgets)
			{
				<div>
					@{ Html.RenderPartial(widget.PartialView, widget); }
				</div>
			}
		</aside>
		@RenderBody()
	</main>
	<footer></footer>

	@RenderSection("scripts", required: false)
</body>
</html>
