﻿@model string
<form method="post">
	<h2>Добавление или изменение участка</h2>
	<p>
		<div class="field-group">
			<label for="number">номер участка</label> 
			<input name="number" id="number" value="@Model" type="text" />
		</div>
		<div class="button-group">
			<button type="submit">сохранить</button>
			@Html.ActionLink("отменить", "Index")
		</div>
	</p>
</form>
