﻿@model sntbr.front.Models.Profile.Partials.ProfileEditModel
<form method="post">
	<h2>Изменение данных профиля</h2>
	<p>
		<div class="field-group">
			@Html.LabelFor(model => model.LastName)
			@Html.EditorFor(model => model.LastName)
			@Html.ValidationMessageFor(model => model.LastName)
		</div>
		<div class="field-group">
			@Html.LabelFor(model => model.FirstName)
			@Html.EditorFor(model => model.FirstName)
			@Html.ValidationMessageFor(model => model.FirstName)
		</div>
		<div class="field-group">
			@Html.LabelFor(model => model.MiddleName)
			@Html.EditorFor(model => model.MiddleName)
			@Html.ValidationMessageFor(model => model.MiddleName)
		</div>
		<div class="field-group">
			@Html.LabelFor(model => model.Email)
			@Html.EditorFor(model => model.Email)
			@Html.ValidationMessageFor(model => model.Email)
		</div>
		<div class="button-group">
			<button type="submit">сохранить</button>
			@Html.ActionLink("отменить", "index")
		</div>
	</p>
</form>
