﻿html {
	background: url('/content/img/asp-bg.jpg');
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	min-width: 873px;
	position: relative;
}

main {
	padding: 20px;
	min-width: 800px;

	> section {
		> article, > form {
			background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8);
			border-radius: 20px;
			padding: 20px;
			margin: 10px 300px 10px 10px;
			overflow: hidden;

			&:after {
				visibility: hidden;
				display: block;
				font-size: 0;
				content: " ";
				clear: both;
				height: 0;
			}

			div.field-group {
				label {
					text-align: right;
					width: 250px;
					padding: 5px;
					display: inline-block;
				}

				span.field-validation-error {
					color: #a52a2a;
					font-size: 0.8em;
					font-weight: bold;
				}
			}

			div.button-group {
				width: 400px;
				text-align: right;
				padding: 10px;
			}

			div.story {
				overflow: hidden;

				&:after {
					visibility: hidden;
					display: block;
					font-size: 0;
					content: " ";
					clear: both;
					height: 0;
				}
			}

			div.site {
				display: inline-block;
				float: left;
				border-radius: 5px;
				background-color: #ccc;
				border: 1px solid #666;
				margin: 5px;
				padding: 5px;
				width: 100px;
				height: 2.2em;

				> a {
					display: block;
					width: 100%;
					text-align: center;
					color: #000;
					font-weight: bold;
				}

				> span {
					font-size: 0.8em;
				}

				button {
					width: 100%;
					height: 2em;
					border-radius: 5px;

					&.add {
						background-color: #ccc;
					}

					&.remove {
						background-color: #999;
						font-weight: bold;
					}
				}
			}
		}
	}

	> aside {
		margin-top: 10px;

		> div {
			background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8);
			border-radius: 20px;
			padding: 20px;
			float: right;
			width: 238px;
			margin: 0 10px 10px 10px;
			clear: right;

			> form {
				display: inline-block;
				padding: 2px;
			}
		}
	}
}

h2 {
	font: 22px "Poiret One",cursive;
	padding: 0;
	margin: 0;
	display: inline;
	border-bottom: solid 1px grey;

	&:before, &:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

p {
	font-family: 'Exo 2', sans-serif;
}
