﻿@color-primary-0: #3C8D2F;
@color-primary-1: #96D38D;
@color-primary-2: #64B058;
@color-primary-3: #1E6912;
@color-primary-4: #0A4600;

@color-secondary-1-0: #236A62;
@color-secondary-1-1: #6A9E99;
@color-secondary-1-2: #42847D;
@color-secondary-1-3: #0D4F48;
@color-secondary-1-4: #00352F;

@color-secondary-2-0: #80A035;
@color-secondary-2-1: #D8F0A0;
@color-secondary-2-2: #AAC864;
@color-secondary-2-3: #5A7814;
@color-secondary-2-4: #385000;


@header-height:2.5em;
@general-main-width:800px;
@general-aside-width:250px;