﻿@import '_common.less';

@back-header-height: 2em;

header {
	background-color: #eee;
	padding: 3px 5px 5px 10px;
	position: fixed;
	border: 1px solid #666;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	min-width: 100%;
	height: @back-header-height;
	box-sizing: border-box;

	> nav {
		display: inline-block;
		padding: 3px;
		margin-left: 20px;

		> a {
			padding: 5px;
			color: #000;
		}
	}
}

main {

	> nav {
		background-color: #eee;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		padding: 10px;
		margin: 0 0 10px 10px;

		> a {
			padding: 5px;
			color: #000;
		}
	}

	> section {
		> article {
			&.grey {
				color: #999;
			}

			> nav {
				display: inline-block;
				float: right;

				a {
					padding: 5px;
					color: #000;
				}
			}

			> div.info {
				float: right;
				color: #666;

				> span {
					font-size: 0.8em;
				}
			}
		}
	}
}
