﻿@import '_common.less';

body {
	background: url('/content/img/top-bg.jpg') repeat-x scroll 0% 0% transparent;
}

header {
	background: url('/content/img/center-bg.jpg') no-repeat scroll center top transparent;
	min-height: 230px;

	p.logo {
		color: #2080c7;
		font: 26px 'Poiret One', cursive;
		margin: 0;
		padding: 10px 30px;
		text-shadow: white 1px 0px, white 1px 1px, white 0px 1px, white -1px 1px, white -1px 0px, white -1px -1px, white 0px -1px, white 1px -1px, white 0 0 3px, white 0 0 3px, white 0 0 3px, white 0 0 3px, white 0 0 3px, white 0 0 3px, white 0 0 3px, white 0 0 3px;
	}

	nav {
		position: absolute;
		top: 91px;
		text-shadow: 2px 2px 2px black;
		min-width: 496px;

		a {
			font-family: 'Exo 2', sans-serif;
			color: white;
			padding: 0px;
			width: 124px;
			text-align: center;
			text-decoration: none;
			line-height: 1em;
		}

		&.left {
			right: 50%;
			margin-right: 193px;

			a {
				float: right;
			}
		}

		&.right {
			left: 50%;
			margin-left: 134px;

			a {
				float: left;
			}
		}
	}
}
