﻿@import '_variables.less';

body {
	background-color: @color-primary-1;
	color: @color-primary-4;
	font-family: 'Open Sans', sans-serif;
	padding-top: @header-height;
	min-width: @general-main-width;
}

header {
	background-color: @color-primary-0;
	padding: 3px 5px 5px 10px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	min-width: @general-main-width;
	height: @header-height;
	box-sizing: border-box;

	h1 {
		margin: 0;
		color: rgba(255,255,255,0.5);
	}
}

main {
	min-width: @general-main-width;
	width: @general-main-width + @general-aside-width;

	section {
		margin: 10px;
		padding: 0;
		width: @general-main-width - 10px;

		&.bordered {
			border: 1px solid @color-primary-4;
			border-radius: 5px;

			> div.title {
				width: 100%;
				height: 2em;
				border-bottom: 1px solid @color-primary-4;
				border-collapse: collapse;
				background-color: @color-primary-3;
				background: linear-gradient(@color-primary-0, @color-primary-3);

				span, a {
					color: @color-primary-1;
					display: inline-block;
					height: 100%;
					line-height: 1.6em;
					//vertical-align: bottom;
				}

				span {
					font-size: 1.2em;
					padding-left: 5px;
				}

				a {
					float: right;
					padding-right: 5px;
				}
			}

			article {
				margin: 1px;

				> div {
					width: 100%;
					box-sizing: border-box;
				}

				> div.title {
					border-bottom: 1px solid @color-primary-4;
					background-color: @color-primary-2;
					margin: 0;

					span {
						font-size: 1.1em;
						padding-left: 5px;
					}

					a {
						float: right;
						padding-right: 10px;
						color: @color-primary-4;
					}
				}

				> div.story {
					margin-left: 10px;

					hr {
						width: 90%;
						border-color: @color-primary-4;
					}
				}

				> div.info {
					text-align: right;

					span {
						font-size: 0.6em;
						color: @color-primary-0;
						margin-right: 10px;
					}
				}
			}
		}

		div.field-group {
			padding: 5px 0px;

			label {
				display: block;
				font-size: 1.1em;
			}

			input {
				width: 100%;
			}

			input[type='checkbox'] {
				width: 1em;
				height: 1em;
			}
		}

		div.button-group {
			width: 100%;
			margin: 10px;

			* {
				width: 8em;
				height: 2.5em;
				margin: 0 5px;
			}

			button {
				border-radius: 3px;
				background-color: @color-primary-4;
				border-color: @color-primary-3;
				color: @color-primary-1;
				font-weight: bold;
			}

			a {
				color: @color-primary-4;
			}
		}
	}
}

aside {
	float: right;
	/*div {
		padding:5px 5px 0 5px;
	}*/
}
