﻿@model sntbr.front.Models.Widgets.AuthWidgetLogin
<h2>Кто Вы?</h2>
<p>
	Представьтесь с помощью
</p>
@foreach (var prov in Model.Providers)
{
	using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
	{
		@Html.AntiForgeryToken()
		<input type="hidden" id="@prov.AuthenticationType" name="provider" value="@prov.AuthenticationType" />
		<input type="image" title="Войдите с помощью @prov.Caption аккаунта" src="@prov.LogoUrl" />
	}
}