﻿@model sntbr.front.Models.Widgets.AuthWidget
<h2>Садовод @Model.Name</h2>
<p>
	@Html.ActionLink("профиль садовода", "Index", "Profile")
</p>
@using (Html.BeginForm("Logoff", "Account"))
{
	@Html.AntiForgeryToken()
	<button type="submit">выйти</button>
}

