﻿@model sntbr.front.Models.Widgets.GisMeteoWidget
<h2>Погода</h2>
<p></p>
<!-- Gismeteo informer START -->
<link rel="stylesheet" type="text/css" href="http://www.gismeteo.ru/static/css/informer2/gs_informerClient.min.css">
<div id="gsInformerID-@Model.Hash" class="gsInformer" style="width:240px;height:243px">
	<div class="gsIContent">
		<div id="cityLink">
			<a href="http://www.gismeteo.ru/city/daily/@Model.City/" target="_blank">Погода в Домодедово</a>
		</div>
		<div class="gsLinks">
			<table>
				<tr>
					<td>
						<div class="leftCol">
							<a href="http://www.gismeteo.ru" target="_blank">
								<img alt="Gismeteo" title="Gismeteo" src="http://www.gismeteo.ru/static/images/informer2/logo-mini2.png" align="absmiddle" border="0" />
								<span>Gismeteo</span>
							</a>
						</div>
						<div class="rightCol">
							<a href="http://www.gismeteo.ru/city/weekly/@Model.City/" target="_blank">Прогноз на 2 недели</a>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<script src="http://www.gismeteo.ru/ajax/getInformer/?hash=@Model.Hash" type="text/javascript"></script>
<!-- Gismeteo informer END -->
