﻿@model sntbr.front.Models.Housing.Pages.IndexPage
@{
	Layout = "~/Views/Shared/_LayoutBack.cshtml";
}
<nav>
	<label>участки:</label>
	@Html.ActionLink("добавить", "create")
</nav>
<section>
	<article>
		@foreach (var site in Model.Sites)
		{
			int resCount = site.Residents.Count();
			string residents = string.Join(", ", site.Residents.Select(r => r.ResidentName));
			<div class="site">
				@Html.ActionLink(site.SiteNumber, "edit", new { id = site.Id }, new { title = residents })
				<span>садоводов: @resCount</span>
			</div>
		}
	</article>

</section>
