﻿@model sntbr.front.Models.Manage.Pages.IndexPage
@{
	Layout = "~/Views/Shared/_LayoutBack.cshtml";
}
<nav>
	<label>объявления:</label>
	@Html.ActionLink("создать", "create")
</nav>
<section>
	@foreach (var article in Model.Articles)
	{
		Html.RenderPartial("~/Views/Manage/Partials/ArticlePartial.cshtml", article);
	}
</section>
