﻿@model sntbr.front.Models.Account.Pages.DetailsPage
@{
	Layout = "~/Views/Shared/_LayoutBack.cshtml";
}
<section>
	<form method="post">
		<h2>@Model.User.UserName, @Model.User.Email</h2>
		@foreach (string role in Model.AllRoles)
		{
			<div class="field-group">
				<label>@role:</label>
				<input type="checkbox" name="inroles" value="@role" @(Model.User.InRoles.Contains(role) ? " checked=\"checked\"" : "") />
			</div>
		}
		<div class="button-group">
			<button type="submit">сохранить</button>
			@Html.ActionLink("отменить", "Users")
		</div>
	</form>

</section>
