﻿@model sntbr.front.Models.Account.Pages.LoginPage
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="@Model.Description">
	<title>@Model.Title</title>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One|Exo+2&subset=cyrillic' rel='stylesheet' type='text/css'>
	@Styles.Render("~/Content/login")

	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-53174823-1', 'auto');
		ga('send', 'pageview');

	</script>
</head>
<body>
	<div class="parent">
		<p>вход</p>
		<div class="buttons">
			@foreach (var prov in Model.Providers)
			{
				using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
				{
					@Html.AntiForgeryToken()
					<input type="hidden" id="@prov.AuthenticationType" name="provider" value="@prov.AuthenticationType" />
					<input type="image" title="Войдите с помощью @prov.Caption аккаунта" src="@prov.LogoUrl" />
				}
			}
		</div>
	</div>
</body>

