﻿@using sntbr.front.Models.Account
@using sntbr.front.Models.Account.Pages
@model UsersPage
@{
	Layout = "~/Views/Shared/_LayoutBack.cshtml";
}
<nav>
	<label>пользователи:</label>
</nav>
<section>
	@foreach (AppUser user in Model.Users)
	{
		<article>
			<h2>@user.UserName</h2>
			<p>
				<div class="field-group">
					<label>Email:</label>
					<span>@user.Email</span>
				</div>
				<div class="field-group">
					<label>@Html.ActionLink("Роли", "details", new { id = user.Id }, new { title = "изменить" }):</label>
					<span>@string.Join(", ", user.Roles)</span>
				</div>
				<div class="field-group">
					<label>Аккаунты:</label>
					<span>@string.Join(", ", user.Logins.Select(l => l.LoginProvider))</span>
				</div>
			</p>
		</article>
	}
</section>
