﻿@model sntbr.front.Models.Manage.Partials.ArticlePartial
<article @(Model.Unpublished ? "class=grey" : "")>
	<h2>@Model.Title</h2>
	<nav>
		@Html.ActionLink("изменить", "edit", new { id = Model.Id })
		@Html.ActionLink(Model.PublishCommandName, "publish", new { id = Model.Id })
		@Html.ActionLink("удалить", "delete", new { id = Model.Id })
	</nav>
	<div class="story">
		@Html.Raw(Model.Story)
	</div>
	<div class="info">
		<span>опубликовано: @Model.PublishedAt, создано: @Model.CreatedAt, изменено: @Model.ChangedAt</span>
	</div>
</article>

