﻿@model sntbr.front.Models.Manage.Partials.ArticleEditModel
<form method="post">
	<h2>Создание или изменение объявления</h2>
	<p>
		<div class="field-group">
			@Html.LabelFor(model => model.Title)
			@Html.EditorFor(model => model.Title)
			@Html.ValidationMessageFor(model => model.Title)
		</div>
		<div class="field-group">
			@Html.LabelFor(model => model.Story)
			@Html.TextAreaFor(model => model.Story, new { @class = "ckeditor", @id = "editor" })
			@Html.ValidationMessageFor(model => model.Story)
		</div>
		<div class="button-group">
			<button type="submit">сохранить</button>
			@Html.ActionLink("отменить", "Index")
		</div>
	</p>
</form>
